div {
    &.footer {
        background-color: black;
        width: 100%;
        min-height: 700px;
        color: white;
        div {
            margin: auto;
            &.footer-section-one , &.footer-section-links{
                width: 90%;
                padding: 50px 30px;
                height: 30%;
                border-bottom: .1px solid #de9a4f;
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    &.footer-info {
                        width: 50%;

                        p {
                            font-size: 17px;

                            &.sub {
                                font-size: 35px;
                            }}}}}

            form {
                width: 50%;
                padding: 40px;
                position: relative;

                div {
                    input {
                        font-size: 20px;
                        padding: 15px;
                        width: 70%;
                    }

                    button {
                        width: 30%;
                        text-transform: uppercase;
                        padding: 16px;
                        font-size: 20px;
                        color: white;
                        background-color: #de9a4f;
                        font-family: 'Poppins', sans-serif;
                        cursor: pointer;
                        border: none;
                    }}}}
                div.footer-section-links{
height: 60%;


a{color:white;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    color: gray;
    &:hover{
        text-decoration: underline;
        color:#de9a4f;
    }
}
div{
    h3{
        font-weight: 500;
        font-size: 25px;
    }
    span{
        height: 2px;
        width:60px;
        margin-top: 10px;
        background-color: #de9a4f;
        display: block;
    }
}
                }
                }}
 
                    @media(max-width:830px) {
                        div.footer div.footer-section-one {  
                        flex-direction: column;
                        height: 330px;
                        width:95%;
                        padding: 40px 10px 20px ;
                       
                    }
                    div.footer div.footer-section-one div.footer-info{
                        width: 90%;
                    }
                    div.footer div form{
                        width:100%;
                        padding: 15px;
                        div{
                            input{
                                width:60%;
                            }
                            button{
                                width:40%;
                            }
                        }
                    }
                    div.footer div.footer-section-links{
                        display: inline-block;
                        padding-top: 14px;
                        height: 870px;
                        div{
                            a{
                                margin-top: 10px;
                                margin-bottom: 10px;
                                font-size: 17px;
                            }
                        }
                    }
                }
                @media(min-width:833px)and (max-width:1194px) {
                    div.footer div.footer-section-one {  
                        height: 300px;
                        flex-direction: column;
                    }
                    div.footer div.footer-section-one div.footer-info{
                        width: 90%;
                    }
                    div.footer div form{
                        width:100%;
                        padding: 30px;
                        div{
                            input{
                                width:75%;
                            }
                            button{
                                width:25%;
                            }
                        }
                    }
                    div.footer div.footer-section-links{
                        display: inline-block;
                        padding-top: 14px;
                        height: 870px;
                        div{
                            a{
                                margin-top: 10px;
                                margin-bottom: 10px;
                                font-size: 17px;
                            }
                        }
                    }
                }