@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$colors: (
    main-color:#ffbe00,
    secondary-color:#ffa33e,
    text-color:white,
    color-2:#fd8a37,
    bgcolor:black,
    );

    $fontweight: (
        bold: 700,
        regular: 600
      );
   
      @mixin display{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      input{
        &:focus{
            outline: none;
        }
      }

  a{
    text-decoration: none;
  }    