div{
    &.main-section{
        background-color: #f5f6f7;
        height: 600px;
        width:100%;
        padding: 60px;
        div{
            &.info-section{
                text-align: center;
                width:fit-content;
                margin: auto;
                
               div{
                display:flex;
                align-items: center;
margin-bottom: 10px;
b{
    letter-spacing: 2px;
    font-size: 25px;
}
                span{
                    margin: 0px 20px;
                    height: 2px;
                    width: 60px;
                    background-color:#feb900;
                    
                }
               } 
            }
        }
    }
}
@media(max-width:800px){
    div.main-section div.info-section div span{
    margin:0px 10px;
  }  
  div.main-section div.info-section div b{
    font-size: 20px;
  }
}